{% extends "base.html.twig" %}

{% block body %}
    <table class="table">
        <tbody>
        {% for i, entrant in entrants %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td><a href="{{ path("app_entrant_show", { "id": entrant.id }) }}">{{ entrant.name }}</a></td>
                <td>{{ entrant.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Scores updated: {{ entrants[0].updated | date }}</p>
{% endblock %}